/* Login.module.css */

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.textField {
    margin-bottom: 1em;
}

.button {
    margin-top: 1em;
}
